<h1>SimplePages#index</h1>
<p>Find me in app/views/simple_pages/index.html.erb</p>
<p>
<span class="stone symbol1 color1"></span><span class="stone symbol2 color2"></span><span class="stone symbol3  color3"></span><br />
<span class="stone symbol4 color4"></span><span class="stone symbol5 color5"></span><span class="stone symbol6  color6"></span><br />
<span class="stone symbol1 color2"></span><span class="stone symbol2 color4"></span><span class="stone symbol6  color6"></span><br />
<span class="stone symbol4 color5"></span><span class="stone symbol3 color3"></span><span class="stone symbol6  color1"></span><br />
</p>
