<br />
<br />
<h1>Welcome to  ISHIDO</h1>
<p>
  Start a <%= link_to 'new Game', games_path, class: "edit-link", method: :create %>
</p>
<p>
  Read the <%= link_to 'Rules', simple_pages_rules_path, class: "edit-link" %>
</p>
<p>
  <%= render partial: "shared/highscores", locals: { scores: Score.value_desc.first(3) } %>
  See all <%= link_to 'Highscores', scores_path, class: "edit-link" %>
</p>
<p>
</p>
