<div class="container">
  <h1>Welcome to  ISHIDO</h1>
  <p>
    Start a <%= link_to 'new Game', games_path, class: "edit-link", method: :create %>
  </p>
  <p>
    <%= link_to 'Resume', games_path, class: "edit-link" %> a game
  </p>
  <p>
    Read the <%= link_to 'Rules', simple_pages_rules_path, class: "edit-link" %>
  </p>
</div><!-- end container -->
