// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************  general rules  *****************************************/
* { box-sizing: border-box; }

body {
  position: relative;
  padding-top: 2.5vw;
  line-height: normal;
  color: #e0f0b0;
  background-color: #000;
}

h1,
h2,
h3 {
  color: #d5d550;//#c5c500;//#e0d000;
}

h1 { padding-bottom: 0.3em; }

input[type="submit"] {
  background-color: #000;
  border: none;
}

a,
a:link,
a:visited,
input[type="submit"] {
  color: #80e0c0;//#c5c500;//#e0d000;
}

a:hover,
a:active,
input[type="submit"]:hover {
  text-decoration: none;
  color: #b0ffff;//#c5c500;//#e0d000;
  background-color: transparent;
}

section {
  padding-top: 1em;
  padding-bottom: 2em;
}

.score {
  font-weight: bold;
  color: #b0ffff;
}

#notice,
#alert {
  text-align: center;
  margin: 0;
  padding: 0.3em;
  font-size: 0.8em;
  color: #a0d080;
}

#alert { color: #f06050; }
/*-------------------  end general rules  ------------------------------------*/

/********************  main layout  ********************************************/
#my-navbar,
aside {
  position: fixed;
  right: 2.8vw;
  width: 18%;
  float: right;
}

#my-navbar {
  top: 0;
  padding-top: 1.5vw;
}
aside { top: 14vw; }

div.main {
  font-size: 3.0vw;
  text-align: center;
  width: 80%;
  float: left;
}

div.main h1 { font-size: 4.0vw; }
div.main ul { text-align: left; }

aside {
   font-size: 2.0vw;
   text-align: center;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside li {
  display: block;
  padding: 0.1em;
}

.rules-container {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8em;
}
/*-------------------  end main layout  ------------------------------------*/

/******************** forms********  ******************************************/
form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2rem;
  padding-bottom: 2em;
}

aside form {
  text-align: center;
  font-size: 1.0em;
  padding-bottom: 0;
}

.inline-form {
  display: inline-block;
  font-size: 1em;
  padding-bottom: 0;
}

.inline-form input{ display: inline-block; }

form .field {
  color: #e0f0b0;
  margin-bottom: 1em;
}

form label {
  display: inline-block;
}

form .form-control {
  border: none;
  // color: #e0f0b0 !important;
  // background-color: #003b00 !important;
}

form .form-control[type="checkbox"] {
  display: inline-block;
  width: 1em;
  // color: #e0f0b0 !important;
  // background-color: #003b00 !important;
}

form .form-control:-webkit-autofill,
form .form-control:-webkit-autofill:hover,
form .form-control:-webkit-autofill:focus {
  // background-color: #003b00 !important;
  // color: #e0f0b0 !important;
}

form .btn-primary {
  //border: 2px solid #004000;
  //font-weight: bold;
  //color: #80e0c0;
  //background-color: #003000;
}

form .btn-primary:hover {
  //border: 2px solid #b0ffff;
  //color: #b0ffff;
  //background-color: #004000;
}

.form-control::placeholder {            /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #709040;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {    /* Internet Explorer 10-11 */
  color: #709040;
}

.form-control::-ms-input-placeholder {  /* Microsoft Edge */
  color: #709040;
}

#error_explanation li { color: #000; }

/*-------------------  end forms ---------------------------------------------*/

/********************  devise user forms  *************************************/
.user-container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 2em;
}
.user-container p{
}

.devise-links {
  font-size: 1.0rem;
  text-align: center;
  padding-bottom: 2em;
}
.devise-links a {
}


/*-------------------  end devise user forms  --------------------------------*/


/********************  navigation  ********************************************/
#my-navbar {
  background-color: #000;
  font-size: 2.0vw;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5em;
  padding-right:  0.5em;
}

#my-navbar a.nav-brand { font-size: 5.1vw; }

#my-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#my-navbar li {
  display: inline-block;
  padding: 0 0.2em;
}

#my-navbar input{
  font-size: 2.0vw;
  font-weight: bold;
}

#my-navbar ul,
#my-navbar a:link,
#my-navbar a:visited,
#my-navbar input
{
  color: #f0e000;//#e0f0b0; //#a0d7d0;
}

#my-navbar a:hover,
#my-navbar a:active,
#my-navbar input:hover
{
  color: #ffff90;//#fff090;
}

/*-------------------  end navigation  ---------------------------------------*/

/********************  highscores  ********************************************/
table.highscores { margin: 1em auto; }

table.highscores td:nth-child(1) {
  text-align: right;
  padding-right: 0.5em;
}

table.highscores td:nth-child(2) {
  padding-right: 1em;
  text-align: left;
  font-weight: bold;
  color: #f0e000;
}

table.highscores td:nth-child(3) {
  text-align: right;
  padding-right: 1em;
}


table.highscores td:nth-child(4) {
  font-size: 0.6em;
  font-style: italic;
  text-align: left;
}

table.highscores td:nth-child(5) {
  font-size: 0.5em;
  font-style: italic;
  text-align: left;
  color: #999;

}

/*-------------------  end highscores  ---------------------------------------*/

/********************  board and stones  **************************************/

.board {
  width: 96%;
  margin: 0 auto;
}

.board-square {
  float: left;
  height: 6vw;
}

.stone {
  display: inline-block;
  width: 5.5vw;
  height: 5.5vw;

  margin: 0.25vw;
  border-radius: 0.5vw;
  background-color: #000;
  color: #555;
  text-align: center;
  font-family: 'Times New Roman', serif;
  /* font-weight: bold; */
  font-size: 3.4vw;
  line-height: 1.5;
}

.next-square .stone {
  width: 10vw;
  height: 10vw;

  margin: 0.5vw;
  border-radius: 1vw;
  font-size: 6.25vw;
}

.two-fit { color: #888; }
.three-fit { color: #BBB; }
.four-way { color: #FD8; }
.place-stone { cursor: pointer; }

.color1 { color: hsl( 10, 80%, 30%); background-color: hsl( 20, 40%, 70%); }
.color2 { color: hsl( 60, 80%, 30%); background-color: hsl( 70, 40%, 70%); }
.color3 { color: hsl(130, 80%, 30%); background-color: hsl(140, 40%, 70%); }
.color4 { color: hsl(190, 80%, 30%); background-color: hsl(200, 40%, 70%); }
.color5 { color: hsl(250, 80%, 30%); background-color: hsl(260, 40%, 70%); }
.color6 { color: hsl(310, 80%, 30%); background-color: hsl(320, 40%, 70%); }

/* placing the stones on the board is done via JavaScript  submit calls for this hidden form */
#hidden-form {
  position: absolute;
  visibility: hidden;
}

/*-------------------  end board and stones  ---------------------------------*/

/********************  media queries  *****************************************/

@media screen and ( min-aspect-ratio: 17/9) {
  .board {  width: 82%; }
  .board-square { height: 5vw; }

  .stone {
    width: 4.5vw;
    height: 4.5vw;
    margin: 0.25vw;
    border-radius: 0.5vw;
    font-size: 3vw;
  }
}

@media screen and ( max-aspect-ratio: 11/10) {

  .rules-container { font-size: 1.0em; }

  div.main { font-size: 3.5w; }

  div.main h1 { font-size: 5vw; }

  .container-fluid { padding: 0 3vw; }

  aside,
  div.main {
    width: 100%;
  }

  div.main { padding-top: 14vw; }

  #my-navbar {
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 100%;
    right: 0;

  }

  .board {  width: 90%; }
  .board-square { height: 6.6vw; }

  .stone {
    width: 6vw;
    height: 6vw;
    margin: 0.3vw;
    border-radius: 0.6vw;
    font-size: 3.6vw;
  }

  #my-navbar a.nav-brand { font-size: 5vw; }

  #my-navbar li,
  #my-navbar input {
    font-size: 4vw;
    font-weight: normal;
  }

  #my-navbar a.nav-brand {
    padding-right: 1em;
    font-weight: bold;
  }

  aside {
     position: relative;
     top: 0;
     font-size: 2.5vw;
     text-align: center;
     padding-right: 0.5em;
  }

  aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  aside li {
    display: inline-block;
  }

  form { display: inline-block; }
}

@media screen and ( max-aspect-ratio: 9/10) {

  .rules-container { font-size: 1.0em; }

  div.main { font-size: 4vw; }

  div.main h1 { font-size: 5.5vw; }

  .container-fluid { padding: 0 3vw; }

  #my-navbar,
  aside,
  div.main {
    width: 100%;
  }

  div.main { padding-top: 18vw; }

  #my-navbar {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  .board {  width: 100%; }
  .board-square { height: 7.7vw; }

  .stone {
    width: 7vw;
    height: 7vw;
    margin: 0.35vw;
    border-radius: 0.7vw;
    font-size: 4.4vw;
  }

  #my-navbar a.nav-brand { font-size: 7vw; }

  #my-navbar li,
  #my-navbar input {
    font-size: 5vw;
    font-weight: normal;
  }

  #my-navbar a.nav-brand {
    padding-right: 1em;
    font-weight: bold;
  }

  aside {
     position: relative;
     top: 0;
     font-size: 3.8vw;
     text-align: center;
     padding-right: 0.5em;
  }

  aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  aside li {
    display: inline-block;
  }

  form { display: inline-block; }
}

@media screen and ( max-aspect-ratio: 3/4) {
  aside { padding: 4vw 0; }
  div.main {
    padding-top: 20vw;
    padding-bottom: 3vw;
  }
}

/*-------------------  end media queries  ------------------------------------*/

/********************  footer  ************************************************/
footer {
  text-align: center;
  font-size: 1.5vw;
  padding: 20px;
  color: #709040;
  background-color: #000;
}
/*-------------------  end footer  -------------------------------------------*/

/******************** typography  *********************************************/

body,
p,
li {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
nav.navbar,
nav.navbar a,
.carousel,
.carousel p,
.contact p,
footer {
  font-family: 'Raleway', sans-serif;
}

hr {
  margin: 0.6em 0;
  border-top: 1px solid rgba(255, 255, 100, 0.4);
}


/*-------------------  end typography  ---------------------------------------*/
